@{
    ViewData["Title"] = "Home Page";
}
 
@model kitap

<p>Kitap Adı : @Model.kitap</p>
<p>Yazar Adı : @Model.Yazar</p>
<p>Yayınlanma Tarihi : @Model.Yayınlanma</p>
<p>Türü : @Model.Türü</p>
<p>Sayfa Sayısı : @Model.Sayfa</p>
<p>Fiyat : @Model.Fiyat</p>

